@charset "UTF-8";
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  animation: fadeIn 0.5s;
}

img,
video {
  display: block;
  max-width: 100%;
}

a {
  transition: all 0.3s ease;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  color: #666;
  font-family: soleil, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  padding-bottom: 1.5rem;
}
@media screen and (max-width: 899px) {
  p {
    font-size: calc(.95 * 1rem);
  }
}
@media screen and (max-width: 766px) {
  p {
    font-size: calc(.9 * 1rem);
  }
}
@media screen and (max-width: 639px) {
  p {
    font-size: calc(.875 * 1rem);
  }
}

h1 {
  font-family: minion-pro, Georgia, serif;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.1;
  padding-bottom: 1.5rem;
  color: #333;
}
@media screen and (max-width: 899px) {
  h1 {
    font-size: calc(.9 * 4.5rem);
  }
}
@media screen and (max-width: 766px) {
  h1 {
    font-size: calc(.8 * 4.5rem);
  }
}
@media screen and (max-width: 639px) {
  h1 {
    font-size: calc(.7 * 4.5rem);
  }
}

h2 {
  font-family: soleil, Helvetica, Arial, sans-serif;
  font-size: 3.938rem;
  font-weight: 300;
  line-height: 1.25;
  padding-bottom: 1.25rem;
  color: #333;
}
@media screen and (max-width: 899px) {
  h2 {
    font-size: calc(.9 * 3.938rem);
  }
}
@media screen and (max-width: 766px) {
  h2 {
    font-size: calc(.8 * 3.938rem);
  }
}
@media screen and (max-width: 639px) {
  h2 {
    font-size: calc(.7 * 3.938rem);
  }
}

h3 {
  font-family: minion-pro, Georgia, serif;
  font-size: 2.813rem;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 1.25rem;
  color: #333;
}
@media screen and (max-width: 899px) {
  h3 {
    font-size: calc(.9 * 2.813rem);
  }
}
@media screen and (max-width: 766px) {
  h3 {
    font-size: calc(.8 * 2.813rem);
  }
}
@media screen and (max-width: 639px) {
  h3 {
    font-size: calc(.7 * 2.813rem);
  }
}

h4 {
  font-family: soleil, Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.25;
  padding-bottom: 1.25rem;
  color: #666;
}
@media screen and (max-width: 899px) {
  h4 {
    font-size: calc(.9 * 1.7rem);
  }
}
@media screen and (max-width: 766px) {
  h4 {
    font-size: calc(.8 * 1.7rem);
  }
}
@media screen and (max-width: 639px) {
  h4 {
    font-size: calc(.7 * 1.7rem);
  }
}

h5 {
  font-family: soleil, Helvetica, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.25;
  padding-bottom: 1.25rem;
  color: #666;
}
@media screen and (max-width: 899px) {
  h5 {
    font-size: calc(.9 * 1.375rem);
  }
}
@media screen and (max-width: 766px) {
  h5 {
    font-size: calc(.8 * 1.375rem);
  }
}
@media screen and (max-width: 639px) {
  h5 {
    font-size: calc(.7 * 1.375rem);
  }
}

.text-centered {
  text-align: center;
}

section {
  padding: 3rem 0;
}

.container {
  width: 70rem;
  max-width: 90%;
  margin: 0 auto;
}

.row {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.row--justify-content-center {
  justify-content: center;
}
.row .col-1-12 {
  width: calc(8.33% - 1.875rem);
}
.row .col-1-6 {
  width: calc(16.66% - 1.875rem);
}
.row .col-1-4 {
  width: calc(25% - 1.875rem);
}
.row .col-1-3 {
  width: calc(33.33% - 1.875rem);
}
.row .col-5-12 {
  width: calc(41.66% - 1.875rem);
}
.row .col-1-2 {
  width: calc(50% - 1.875rem);
}
.row .col-7-12 {
  width: calc(58.33% - 1.875rem);
}
.row .col-2-3 {
  width: calc(66.66% - 1.875rem);
}
.row .col-3-4 {
  width: calc(75% - 1.875rem);
}
.row .col-5-6 {
  width: calc(83.33% - 1.875rem);
}
.row .col-11-12 {
  width: calc(91.66% - 1.875rem);
}
.row .col-full-width {
  width: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.btn--1 {
  border: 1px solid #8c8a8a;
  background: white;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  font-family: soleil, Helvetica, Arial, sans-serif;
  color: #31bf90;
  margin-left: 0.625rem;
}
.btn--1:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f8efce 0%, #bee6b1 100%);
  left: -0.625rem;
  bottom: -0.625rem;
  cursor: pointer;
}
@media screen and (max-width: 766px) {
  .btn--1 {
    padding: 1.2rem 3rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 479px) {
  .btn--1 {
    padding: 1rem 2.4rem;
    font-size: 0.7rem;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.hero {
  background-size: cover;
  position: relative;
  padding: 7.5rem 0;
}
.hero h1,
.hero h2,
.hero h3,
.hero h4 {
  color: #fff;
}
.hero--has-dark-overlay:after {
  position: absolute;
  z-index: 10;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
}
.hero--centered {
  text-align: center;
}
.hero--centered > .container > .row {
  justify-content: center;
}
.hero--reversed > .container > .row {
  flex-direction: row-reverse;
}
.hero .container {
  position: relative;
  z-index: 20;
}
.hero__media {
  display: flex;
  justify-content: center;
}
.hero__content {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero__btn-block {
  padding-top: 1.25rem;
}
@media screen and (max-width: 899px) {
  .hero {
    padding: 5rem 0;
  }
  .hero .row {
    flex-direction: column-reverse;
  }
  .hero .row > .col {
    margin-bottom: 3rem;
  }
  .hero .col-1-2,
.hero .col-2-3 {
    width: 100%;
  }
  .hero--reversed > .container > .row {
    flex-direction: column-reverse;
  }
  .hero--reversed > .container > .row .col:first-of-type {
    margin-bottom: 0;
  }
  .hero--centered .row > .col {
    margin-bottom: 0;
  }
}

.full-width {
  padding: 4rem 0 7rem;
}
.full-width__intro {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}
.full-width__intro:after {
  margin-top: 0.5rem;
  display: block;
  content: url("../images/divider.png");
}
.full-width__image {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 0;
}
.full-width__image img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 23rem;
}
.full-width__image:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f8efce 0%, #bee6b1 100%);
  right: -1rem;
  bottom: -1rem;
  cursor: pointer;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}
.full-width__text {
  text-align: center;
  font-weight: 300;
  color: #666;
  line-height: 1.9;
  margin-bottom: 3.5rem;
}
.full-width__text p {
  line-height: 1.9;
}
.full-width__text p:last-of-type {
  padding-bottom: 0;
}
.full-width__text p,
.full-width__text ul,
.full-width__text ol {
  font-weight: 300;
  color: #666;
}
.full-width__btn-block {
  justify-content: center;
  display: flex;
  position: relative;
  z-index: 0;
}
.full-width--image-background {
  padding: 7rem 0;
  background-size: cover;
}
@media screen and (max-width: 1023px) {
  .full-width .col-2-3 {
    width: 100%;
    padding: 0 3rem;
  }
}
@media screen and (max-width: 899px) {
  .full-width__intro {
    position: relative;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .full-width__intro:after {
    margin-top: 0.25rem;
  }
  .full-width .col-2-3 {
    width: 100%;
    padding: 0;
  }
  .full-width--image-background {
    padding: 6rem 0;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  .full-width__image img {
    height: 18rem;
  }
  .full-width--image-background {
    padding: 5rem 0;
    background-size: cover;
  }
}

.lead-magnet {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem 0;
}
.lead-magnet .col {
  position: relative;
}
.lead-magnet__inner {
  background: #fff;
  padding: 2rem 2.5rem 3rem 2.5rem;
  position: relative;
  z-index: 0;
  box-shadow: 10px 3px 20px rgba(0, 0, 0, 0.15);
  overflow: visible;
}
.lead-magnet__text {
  font-weight: 300;
  color: #666;
  line-height: 1.8;
}
.lead-magnet__text p {
  line-height: 1.8;
}
.lead-magnet__text p:last-of-type {
  padding-bottom: 0;
}
.lead-magnet__text p,
.lead-magnet__text ul,
.lead-magnet__text ol {
  font-weight: 300;
  color: #666;
}
.lead-magnet__media {
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
  z-index: 50;
}
.lead-magnet__media img {
  object-fit: cover;
  height: 107%;
  width: 107%;
  max-width: none;
}
.lead-magnet__btn-block {
  margin-top: 2.5rem;
}
@media screen and (max-width: 1259px) {
  .lead-magnet__media {
    top: -3rem;
  }
}
@media screen and (max-width: 1099px) {
  .lead-magnet__media {
    top: -2rem;
  }
}
@media screen and (max-width: 1023px) {
  .lead-magnet__media {
    top: -1rem;
  }
}
@media screen and (max-width: 899px) {
  .lead-magnet__media {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
  .lead-magnet__media img {
    object-fit: unset;
    margin: 0 auto;
    height: auto;
    width: auto;
    max-width: 100%;
  }
  .lead-magnet__inner .row > .col:last-of-type {
    margin-top: 4rem;
  }
  .lead-magnet__inner .col-1-2 {
    width: 100%;
  }
}

.lr-content__intro {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 4rem;
}
@media screen and (max-width: 899px) {
  .lr-content__intro {
    width: 100%;
  }
}

.lr-content-block {
  margin-bottom: 6.5rem;
}
.lr-content-block__intro {
  padding-bottom: 1.25rem;
}
.lr-content-block__intro:after {
  display: block;
  content: url("../images/divider.png");
}
.lr-content-block__heading {
  padding-bottom: 0.35rem;
}
.lr-content-block__subheading {
  padding-bottom: 0.6rem;
}
.lr-content-block__text {
  font-weight: 300;
  color: #666;
  line-height: 1.9;
}
.lr-content-block__text p {
  line-height: 1.9;
}
.lr-content-block__text p:last-of-type {
  padding-bottom: 0;
}
.lr-content-block__text p,
.lr-content-block__text ul,
.lr-content-block__text ol {
  font-weight: 300;
  color: #666;
}
.lr-content-block__btn-block {
  padding-top: 3rem;
}
.lr-content-block__image {
  position: relative;
}
.lr-content-block__image img {
  object-fit: cover;
  width: 100%;
  height: 31rem;
}
.lr-content-block__image:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f8efce 0%, #bee6b1 100%);
  right: -1rem;
  bottom: -1rem;
  cursor: pointer;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}
.lr-content-block--image-left .lr-content-block__row {
  flex-direction: row-reverse;
}
.lr-content-block--image-left .lr-content-block__image:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f8efce 0%, #bee6b1 100%);
  left: -1rem;
  bottom: -1rem;
  cursor: pointer;
}
@media screen and (max-width: 899px) {
  .lr-content-block__row > .col:first-of-type {
    margin-bottom: 4rem;
  }
  .lr-content-block__row .col-1-2 {
    width: 100%;
  }
  .lr-content-block__image img {
    max-height: 26rem;
  }
}

.lr-float {
  overflow: hidden;
}
.lr-float__intro {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 4rem;
}
@media screen and (max-width: 899px) {
  .lr-float__intro {
    width: 100%;
  }
}

.lr-float-block {
  margin-bottom: 6.5rem;
}
.lr-float-block__intro {
  padding-bottom: 1.25rem;
}
.lr-float-block__intro:after {
  display: block;
  content: url("../images/divider.png");
}
.lr-float-block__heading {
  padding-bottom: 0.35rem;
}
.lr-float-block__subheading {
  padding-bottom: 0.6rem;
}
.lr-float-block__text {
  font-weight: 300;
  color: #666;
  line-height: 1.9;
}
.lr-float-block__text p {
  line-height: 1.9;
}
.lr-float-block__text p:last-of-type {
  padding-bottom: 0;
}
.lr-float-block__text p,
.lr-float-block__text ul,
.lr-float-block__text ol {
  font-weight: 300;
  color: #666;
}
.lr-float-block__btn-block {
  padding-top: 3rem;
}
.lr-float-block__image:before {
  position: absolute;
  content: "";
  z-index: -1;
  height: 31rem;
  width: 50vw;
  background: linear-gradient(180deg, #f8efce 0%, #bee6b1 100%);
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
  right: calc((-1 * 1.875rem) - 1rem);
}
.lr-float-block__image img {
  object-fit: cover;
  height: 31rem;
  width: 50vw;
  position: absolute;
}
.lr-float-block--image-left .lr-float-block__row {
  flex-direction: row-reverse;
}
.lr-float-block--image-left .lr-float-block__image:before {
  position: absolute;
  content: "";
  z-index: -1;
  height: 31rem;
  width: 50vw;
  background: linear-gradient(180deg, #f8efce 0%, #bee6b1 100%);
  margin-top: 1rem;
  margin-left: -1rem;
  left: calc(-1 * 1.875rem);
  cursor: pointer;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}
.lr-float-block--image-left .lr-float-block__image img {
  object-fit: cover;
  height: 31rem;
  width: 50vw;
  position: absolute;
  left: calc(-1 * 1.875rem);
}
@media screen and (max-width: 899px) {
  .lr-float-block__row > .col:first-of-type {
    margin-bottom: 4rem;
  }
  .lr-float-block__row .col-1-2 {
    width: 100%;
  }
  .lr-float-block__image {
    position: relative;
  }
  .lr-float-block__image:before {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
    left: auto;
    right: auto;
  }
  .lr-float-block__image img {
    max-height: 26rem;
    height: auto;
    width: 100%;
    position: relative;
    right: auto;
    left: auto;
  }
  .lr-float-block--image-left .lr-float-block__image {
    position: relative;
  }
  .lr-float-block--image-left .lr-float-block__image:before {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    margin-right: 1rem;
    left: auto;
    right: auto;
  }
  .lr-float-block--image-left .lr-float-block__image img {
    max-height: 26rem;
    height: auto;
    width: 100%;
    position: relative;
    right: auto;
    left: auto;
  }
}

.logo-bar .slick-dots {
  bottom: -35px;
}
.logo-bar .slick-dots li {
  margin: 0 1px;
}
.logo-bar .slick-dots li button:before {
  font-size: 0.75rem;
  color: #d1d1d1;
  opacity: 1;
  transition: all 0.3s ease;
}
.logo-bar .slick-dots li button:hover:before {
  opacity: 0.7;
}
.logo-bar .slick-dots li.slick-active button:before {
  color: #a3a4a3;
}
.logo-bar__prev-arrow, .logo-bar__next-arrow {
  position: absolute;
  display: block;
  color: #666;
  font-size: 2rem;
  cursor: pointer;
  top: 40%;
}
.logo-bar__prev-arrow:hover, .logo-bar__next-arrow:hover {
  opacity: 0.8;
}
.logo-bar__prev-arrow {
  left: -2rem;
}
.logo-bar__next-arrow {
  right: -2rem;
}
.logo-bar__intro {
  text-align: center;
  width: 70%;
  margin: 0 auto 3rem;
}
.logo-bar__intro:after {
  content: "";
  position: relative;
  top: 1rem;
  display: block;
  background: #f6f6f6;
  height: 2px;
  width: 540px;
  max-width: 75%;
  margin: 0 auto;
}
.logo-bar__slide {
  display: flex !important;
  height: 180px;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}
.logo-bar__slide-inner {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 899px) {
  .logo-bar__prev-arrow {
    left: -1.5rem;
  }
  .logo-bar__next-arrow {
    right: -1.5rem;
  }
  .logo-bar__intro {
    width: 100%;
  }
}
@media screen and (max-width: 766px) {
  .logo-bar__prev-arrow {
    left: -1rem;
  }
  .logo-bar__next-arrow {
    right: -1rem;
  }
}
@media screen and (max-width: 479px) {
  .logo-bar__prev-arrow {
    left: -0.75rem;
  }
  .logo-bar__next-arrow {
    right: -0.75rem;
  }
}

.table-of-contents-page {
  height: 100%;
}
.table-of-contents-page body {
  height: 100%;
}
.table-of-contents-page h1,
.table-of-contents-page h2,
.table-of-contents-page h3,
.table-of-contents-page h4 {
  color: #fff;
}

.table-of-contents {
  background: #333;
  height: 100%;
  color: #fff;
}
.table-of-contents a {
  color: #fff;
}
.table-of-contents__module-list {
  border-top: 1px solid #fff;
  padding-top: 3rem;
  font-size: 1.1rem;
}
.table-of-contents__module-list h4 {
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
