body {
  font-size: 16px; // 1rem = 16px
  line-height: 1.4;
  color: $text-color-main;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  padding-bottom: 1.5rem;
}

h1 {
  font-family: $font-stack-1;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.1;
  padding-bottom: 1.5rem;
}

h4 {
  font-family: $font-stack-2;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 1.25rem;
}
