// Colors
$color-1: red;
$color-2: blue;
$color-3: green;
$text-color-main: #333;
$text-color-heading: #666;
$text-color-white: #fff;

// Fonts
$font-stack-1: minion-pro, Georgia, serif;
$font-stack-2: soleil, Helvetica, Arial, sans-serif;

// Overlays
$overlay-dark: rgba(0, 0, 0, .85);

// Layout
$section-padding: 3rem 0;
$container-width: 70rem; 
$container-max-width: 94%;
$gutter-width: 1.875rem;
