.form {
  &__field {
    width: 100%;

    input:not([type='checkbox']),
    input:not([type='radio']),
    input:not([type='submit']),
    textarea {
      width: 100%;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      font-family: $font-stack-2;
      font-size: $font-size-h6;
      padding: 1.5rem 1.75rem;
    }

    input {
      height: 4.375rem;
    }

    textarea {
      min-height: 13rem;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    margin-bottom: calc(#{$form-gutter-width} * 2);

    &--two-columns {
      justify-content: space-between;

      .form__field {
        width: calc(50% - #{$form-gutter-width});
      }
    }
  }
}
