* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;    
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  animation: fadeIn .5s;
}

img,
video {
  display: block;
  max-width: 100%;
}
