body {
  font-size: 1rem;
  line-height: 1.4;
  color: $text-color-main;
  font-family: $font-stack-2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  padding-bottom: 1.5rem;
}

h1 {
  font-family: $font-stack-1;
  font-size: $font-size-h1;
  font-weight: 600;
  line-height: 1.1;
  padding-bottom: 1.5rem;
  color: $text-color-heading;

  @include mq(desktop-narrow, 'max-width') {
    font-size: calc(.9 * #{$font-size-h1});
  }

  @include mq(ipad, 'max-width') {
    font-size: calc(.8 * #{$font-size-h1});
  }

  @include mq(tablet, 'max-width') {
    font-size: calc(.7 * #{$font-size-h1});
  }
}

h2 {
  font-family: $font-stack-2;
  font-size: $font-size-h2;
  font-weight: 300;
  line-height: 1.25;
  padding-bottom: 1.25rem;
  color: $text-color-heading;

  @include mq(desktop-narrow, 'max-width') {
    font-size: calc(.9 * #{$font-size-h2});
  }

  @include mq(ipad, 'max-width') {
    font-size: calc(.8 * #{$font-size-h2});
  }

  @include mq(tablet, 'max-width') {
    font-size: calc(.7 * #{$font-size-h2});
  }
}

h3 {
  font-family: $font-stack-1;
  font-size: $font-size-h3;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 1.25rem;
  color: $text-color-heading;

  @include mq(desktop-narrow, 'max-width') {
    font-size: calc(.9 * #{$font-size-h3});
  }

  @include mq(ipad, 'max-width') {
    font-size: calc(.8 * #{$font-size-h3});
  }

  @include mq(tablet, 'max-width') {
    font-size: calc(.7 * #{$font-size-h3});
  }
}

h4 {
  font-family: $font-stack-2;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.25;
  padding-bottom: 1.25rem;
  color: $text-color-main;

  @include mq(desktop-narrow, 'max-width') {
    font-size: calc(.9 * #{$font-size-h4});
  }

  @include mq(ipad, 'max-width') {
    font-size: calc(.8 * #{$font-size-h4});
  }

  @include mq(tablet, 'max-width') {
    font-size: calc(.7 * #{$font-size-h4});
  }
}
