// Colors
$color-1: red;
$color-2: blue;
$color-3: green;
$text-color-main: #666;
$text-color-heading: #333;
$text-color-white: #fff;
$link-color-1: #31bf90;
$link-color-2: #666;
$link-hover-color-1: #666;
$border-color-1: #8c8a8a;
$border-color-2: #f6f6f6;
$background-color-1: #333;
$background-white: #fff;
$dot-color-1: #a3a4a3;
$dot-color-2: #d1d1d1;
$icon-color-1: #2fbf90;

// Gradients
$gradient-1: linear-gradient(180deg, rgba(248, 239, 206, 1) 0%, rgba(190, 230, 177, 1) 100%);

// Fonts
$font-stack-1: minion-pro, Georgia, serif;
$font-stack-2: soleil, Helvetica, Arial, sans-serif;

// Font Sizes
$font-size-h1: 4.5rem;    // 72px
$font-size-h2: 3.938rem;  // 63px
$font-size-h3: 2.813rem;  // 45px
$font-size-h4: 1.7rem;    // 27px
$font-size-h5: 1.375rem;  // 22px
$font-size-h6: 1.125rem;  // 18px
$font-size-p:  1rem;      // 16px

// Overlays
$overlay-1: rgba(0, 0, 0, .85);

// Forms
$form-gutter-width: 1rem;

// Layout
$section-padding: 3rem 0;
$container-width: 70rem; 
$container-max-width: 90%;
$gutter-width: 1.875rem;
