.faqs {
  padding: 6rem 0;

  &__row {
    .col {
      display: inline-block;
    }

    .col-1-2 {
      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }
  }

  &__intro {
    margin-bottom: 2rem;
    position: relative;
    text-align: center;

    h4 {
      width: 70%;
      margin: 0 auto;
    }

    &:after {
      margin-top: .5rem;
      display: block;
      content: url('../images/divider.png');
    }
  }

  &__btn-block {
    padding-top: 3rem;
    justify-content: center;
    display: flex;
  }

  &--has-background-image {
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
  }

  @include mq(desktop-narrow, 'max-width') {
    padding: 4.5rem 0 5.5rem;

    .col-1-2 {
      width: 100%;
    }
  }

  @include mq(ipad, 'max-width') {
    padding: 3rem 0 4rem;
  }
}

.faq-item {
  &__question {
    position: relative;
    cursor: pointer;
    padding-left: 2.5rem;
    transition: opacity .2s ease;

    &:hover {
      opacity: .8;
    }

    &:before {
      font-family: FontAwesome;
      content: "\f055";
      position: absolute;
      left: 0;
      top: 2px;
      display: inline-block;
    }

    .is-open-accordion & {
      &:before {
        content: "\f056";
      }
    }
  }

  &__answer {
    padding-left: 2.5rem;
    line-height: 1.8;
    font-weight: 300;

    p {
      line-height: 1.8;
      font-weight: 300;
    }
  }

  @include mq(ipad, 'max-width') {
    &__question {
      padding-left: 1.75rem;
    }
  }
}
