.hero {
  background-size: cover;
  position: relative;
  padding: 7.5rem 0;

  h1,
  h2,
  h3,
  h4 {
    color: $text-color-white;
  }

  &--has-dark-overlay {
    &:after {
      position: absolute;
      z-index: 10;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $overlay-1;
    }
  }

  &--centered {
    text-align: center;

    > .container > .row {
      justify-content: center;
    }
  }

  &--reversed {
    > .container > .row {
      flex-direction: row-reverse;
    }
  }

  .container {
    position: relative;
    z-index: 20;
  }

  &__media {
    display: flex;
    justify-content: center;
  }

  &__content {
    color: $text-color-white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__btn-block {
    padding-top: 1.25rem;
  }

  @include mq(desktop-narrow, 'max-width') {  
    padding: 5rem 0;

    .row {
      flex-direction: column-reverse;

      > .col {
        margin-bottom: 3rem;
      }
    }

    .col-1-2,
    .col-2-3 {
      width: 100%;
    }

    &--reversed {
      > .container > .row {
        flex-direction: column-reverse;

        .col {
          &:first-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    &--centered {
      .row {       
        > .col {
          margin-bottom: 0;
        }
      }
    }
  }
}
