.lead-magnet {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem 0;

  .col {
    position: relative;
  }

  &__inner {
    background: $background-white;
    padding: 2rem 2.5rem 3rem 2.5rem;
    position: relative;
    z-index: 0;
    box-shadow: 10px 3px 20px rgba(black, .15);
    overflow: visible;
  }

  &__text {
    font-weight: 300;
    color: $text-color-main;
    line-height: 1.8;

    p {
      line-height: 1.8;

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    p,
    ul,
    ol {
      font-weight: 300;
      color: $text-color-main;
    }
  }

  &__media {
    position: absolute;
    top: -4rem;
    left: 0;
    right: 0;
    z-index: 50;

    img {
      object-fit: cover;
      height: 107%;
      width: 107%;
      max-width: none;
    }
  }

  &__btn-block {
    margin-top: 2.5rem;
  }

  @include mq(large, max-width) {
    &__media {
      top: -3rem;
    }
  }

  @include mq(container-max, max-width) {
    &__media {
      top: -2rem;
    }
  }

  @include mq(desktop, max-width) {
    &__media {
      top: -1rem;
    }
  }

  @include mq(desktop-narrow, max-width) {
    &__media {
      position: relative;
      top: auto;
      left: auto;
      right: auto;

      img {
        object-fit: unset;
        margin: 0 auto;
        height: auto;
        width: auto;
        max-width: 100%;
      }
    }

    &__inner {
      .row {
        > .col {
          &:last-of-type {
            margin-top: 4rem;
          }
        }
      }

      .col-1-2 {
        width: 100%;
      }
    }
  }
}
