.lead-magnet {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem 0;

  .col {
    position: relative;
  }

  &__inner {
    background: $background-white;
    padding: 2rem 2.5rem 3rem 2.5rem;
    position: relative;
    z-index: 0;
    box-shadow: 10px 3px 20px rgba(black, .15);
    overflow: visible;
  }

  &__text {
    font-weight: 300;
    color: $text-color-main;
    line-height: 1.8;

    p {
      line-height: 1.8;

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    p,
    ul,
    ol {
      font-weight: 300;
      color: $text-color-main;
    }
  }

  &__media {
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    z-index: 50;

    img {
      object-fit: cover;
      height: 100%;
      max-width: none;
    }
  }

  &__btn-block {
    margin-top: 2.5rem;
  }
}
